$main: #252529;
$secondary: #8b8b9f;
$highlight:	#73e298;
$white: #FFFFFF;




.row {
	width: 100%;
	.post {
		width: 14%;
		float: left;
        margin-right: 2.5%;
        
		img {
			width: 100%;
			max-width: 100%;
			border-radius: .5em;
		}
		.title {
			font-size: 1.25em;
			margin: 1em 0 0 0;
			color: $main;
		}
		.post_info {
			font-size: .75em;
			color: $secondary;
			margin: 0.5em 0;
		}
	}
}